{% extends "layout.html" %}
{% block title %}Panel - Config{% endblock %}

{% block body %}
    <div class="form panel-center">
            <h1 id="config-editor-text">Config Editor</h1>
            {%for i in range(0, len)%} 
                <label class="label">{{data[i][2]}}</label>
                <label class="label-desc">{{data[i][3]}}</label>
                <input type="text" id="{{data[i][0]}}" placeholder="{{data[i][4]}}" value="{{data[i][1]}}">
            {%endfor%}             
        <input type="submit" value="Save" onclick="saveConfig()" class="button-neon" id="save-btn">
    </div>
{% endblock %}