{% extends "layout.html" %}
{% block title %}Panel - Payments{% endblock %}

{% block body %}
<div class="payments">
        <div class="col">
          <div class="card bg-default shadow">
            <div class="table-responsive">
              <table class="table align-items-center table-dark table-flush">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">TXID</th>
                    <th scope="col">Crypto</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Sender</th>
                    <th scope="col">Date (UTC)</th>
                  </tr>
                </thead>
                <tbody>
                {%for i in range(0, len)%} 
                <tr><th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <a class="txid" href="{{data[i][6]}}">{{data[i][1]}}</a>
                    </div>
                  </div>
                  </th>
                  <td>{{data[i][2]}}</td>
                  <td>
                    <span class="badge badge-dot mr-4">{{data[i][3]}}</span>
                  </td>
                    <td><div class="d-flex align-items-center"><span class="mr-2">{{data[i][4]}}</span></div></td>
                    <td><div class="d-flex align-items-center"><span class="mr-2">{{data[i][5]}}</span></div></td>
                  </tr>
                  {%endfor%}
                
                </tbody>

              </table>
              
            </div>
          </div>
        </div>
      </div>
{% endblock %}